*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}


.landding
{
    background-image: url("../imgs/css_coding-wallpaper-3840x2160.jpg");
    background-color: rgba(43, 42, 42, 0.644);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    width: 100%;
    height: fit-content !important;
    overflow: hidden;
    color: whitesmoke;
    padding-bottom: 10.5vh;
}

.me
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.name
{
    font-size: 80px !important;
}

#navbar-example2
{
    background-color: #212529 !important;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
}


.header
{
    display: flex;
    justify-content: center;
    margin: 9vh 0 0 0;
}

.head
{
    font-size: 55px !important;
}

.body
{
    margin: 8vh 0 8vh 0;
}

.front-pic
{
    width: 150px;
    height: 150px;
}
.back-pic
{
    width: 200px;
    height: 100px;
    margin-bottom: 50px !important;
}

.back
{
    margin-top: 50px !important;
}

.pics
{
    transition: all .35s ease-in-out;
    filter: grayscale();
}

.pics:hover
{
    filter: none;
    transform: scale(1.2);
}

.col-sm-6
{
    transition: all .35s ease-in-out;
    filter: grayscale();
}

.col-sm-6:hover
{
    filter: none;
    transform: scale(1.2);
}

#bgc
{
    background-color: #f1f1f1;
    padding-top: 4px;
}


.container1
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  padding: 50px 50px;
}

.bahgt
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card1
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px;
  height: 320px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.20);
  transition: 0.5s;
}

.container1 .card1:hover
{
  height: 580px;
}

.container1 .card1 .imgbx
{
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.container1 .card1:hover .imgbx
{
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.15);
}

.container1 .card1 .imgbx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  border: none;
}

.container1 .card1 .content1
{
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 30px;
  height: 60px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.container1 .card1:hover .content1
{
  top: 110px;
  height: 460px;
}

.container1 .card1 .content1 h3
{
  font-weight: 700;
  font-size: 1.5em;
  color: var(--clr);
}

.container1 .card1 .content1 p
{
  color: #333;
  font-size: 1.05em;
}

.fade-up {
    opacity: 0;
    transform: translateY(10%);
    transition: translateY(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in , transition 700ms ease-in;
}
.fade-up.appear {
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
}
  
.fade-down {
    opacity: 0;
    transform: translateY(-10%);
    transition: translateY(-10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in;
}
  
.fade-down.appear {
    opacity: 1;
    transform: translateY(0);
    transition: translateY(0);
}
  
.fade-left {
    opacity: 0;
    transform: translateX(-10%);
    transition: translateX(-10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in;
}

.fade-left.appear {
    transform: translateX(0);
    transition: translateX(0);
    opacity: 1;
}
  
.fade-right {
    opacity: 0;
    transform: translateX(10%);
    transition: translateX(10%);
    transition: opacity 1s ease-in, transform 700ms ease-in, transition 700ms ease-in ;
}

.fade-right.appear {
    transform: translateX(0);
    transition: translateX(0);
    opacity: 1;
}

.fade-in{
    opacity: 0;
    transition: opacity 1.2s ease-in;
}

.fade-in.appear{
    opacity: 1;
}

.imgbx
{
  border: none;
}
.scroll-down {
    color:  whitesmoke;
    width: 35px;
    height: 35px;
    position: absolute;
    text-align: center;
    font-size: 20px;
    z-index: 9999;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0%);
    animation: fade_move_down 2s ease-in-out infinite;
}

@keyframes fade_move_down {
    0% {
      transform: translate(0, -20px);
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      transform: translate(0, 20px);
      opacity: 0;
    }
  }

  @media(max-width:1200px) 
  {
    .col-lg
    {
      margin-bottom: 25px;
    }

    .pics
    {
      margin-bottom: 30px;
    }

    .layer
    {
      height: fit-content !important;
      padding-bottom: 10vh !important;
    }

      .scroll-down {
        /* display: none; */
        color:  whitesmoke;
        width: 35px;
        height: 35px;
        position: absolute;
        text-align: center;
        font-size: 20px;
        z-index: 9999;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, 0%);
        animation: fade_move_down 2s ease-in-out infinite;
    }

    .col-lg-8.mx-auto.text-muted
    {
      padding: 10px !important;
    }

    .container1 .card1 .imgbx
    {
      width: 250px !important;
    }
    
    @keyframes fade_move_down {
        0% {
          transform: translate(0, -40px);
          opacity: 0;
        }
        50% {
          opacity: 1;
        }
        100% {
          transform: translate(0, 20px);
          opacity: 0;
        }
    }
  }


  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100 !important; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1A6DDE;
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0252c2; 
  }



  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }


  @media (min-width: 280px) and (max-width:440px) {
    .landding{
      height: 110vh;
    }
    .layer
    {
      height: 110vh;
    }
  }

  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }

  .bd-mode-toggle {
    z-index: 1500;
  }

  .bd-mode-toggle .dropdown-menu .active .bi {
    display: block !important;
  }

  @media (max-width: 282px)
  {
    .container1 .card1 .imgbx
    {
      width: 250px !important;
    }

    .card
    {
      width: 16rem !important;
    }
  }